mixin pagination()
    .pagination
        a.pagination__link(href="#0")
            span.pagination__value 1
        a.pagination__link.--active(href="#0")
            span.pagination__value 2
        a.pagination__link(href="#0")
            span.pagination__value 3
        a.pagination__link(href="#0")
            span.pagination__value ...
        a.pagination__link(href="#0")
            span.pagination__value 17
