.portfolio {
    padding-bottom: 90px;
    color: $textGray;
    @media (min-width: 1200px) {
        padding-bottom: 180px;
    }
    @media (max-width: 767px) {
        padding-top: 30px;
    }
    & + .section {
        margin-top: 0;
    }
    &__head {
        position: relative;
        padding-top: 58px;
        padding-bottom: 262px;
        background-color: $bgViolet;
        @media (min-width: 576px) {
            padding-bottom: 260px;
        }
        @media (min-width: 768px) {
            padding-top: 56px;
            padding-right: 6% !important;
            padding-bottom: 300px;
        }
        @media (min-width: 992px) {
            padding-top: 63px;
            padding-right: 9% !important;
        }
        @media (min-width: 1200px) {
            padding-right: 18% !important;
        }
        @media (min-width: 1920px) {
            padding-right: 35% !important;
        }
        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100vw;
            background-color: $bgViolet;
        }
        &:after {
            left: 0;
            transform: translateX(-100%);
        }
        &:before {
            right: 0;
            transform: translateX(100%);
            @media (min-width: 768px) {
                display: none;
            }
        }
        & .section__title {
            @media (max-width: 575px) {
                padding-right: 15px;
            }
            @media (max-width: 767px) {
                max-width: 400px;
            }
        }
    }
    &__list {
        margin-top: -245px;
        @media (min-width: 576px) {
            margin-top: calc(-210px - 35px);
        }
        @media (min-width: 992px) {
            margin-top: calc(-210px - 60px);
        }
    }
    &__item {
        height: 250px;
        margin-top: 45px;
        //background-color: $bgWhite;
        @media (min-width: 576px) {
            height: 416px;
            margin-top: 45px;
        }
        @media (min-width: 768px) {
            height: 330px;
        }
        @media (min-width: 992px) {
            height: 350px;
            margin-top: 60px;
        }
        @media (min-width: 1200px) {
            height: 420px;
        }
        @media (min-width: 1920px) {
            height: 650px;
        }
    }
    &__link {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        transition: $transitionLong;
        &:hover {
            box-shadow: $shadowLight;
            & .portfolio__image {
                transform: scale3d(1.1, 1.1, 1.1);
                transition: $transitionLong;
            }
            & .arrow {
                background-color: $bgVioletLight;
            }
            & .portfolio__info-content {
                transform: none;
            }
        }
    }
    &__picture {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: $transition;
    }
    &__trigger {
        position: absolute;
        right: 0;
        bottom: 0;
        display: none;
        @media (min-width: 576px) {
            display: block;
        }
    }
    &__info {
        position: absolute;
        top: calc(100% - 100px);
        right: 100px;
        max-width: 0;
        max-width: 500px;
        max-height: 100px;
        transition: $transitionLong;
        overflow: hidden;
        z-index: 1;
        &:after {
            content: '';
            position: absolute;
            display: block;
            inset: 0;
            border: 10px solid $bgGray;
            pointer-events: none;
        }
        &-inner {
            padding: calc(25px + 10px) calc(37px + 10px) calc(40px + 10px);
            color: $textGray;
            background-color: $bgViolet;
            transition: $transitionLong;
        }
        &-content {
            opacity: 0;
            will-change: opacity, transform;
            transform: translate3d(40px, 0, 0);
            transition: $transitionLong .3s;
        }
        &-title {
            margin-bottom: 10px;
        }
    }
}
