mixin SectionPrices()
    section.section.prices
        .container 
            .prices__row.row
                .prices__content.col-xxl-8.col-12.pr-xxl-2
                    .prices__head
                        .section__header
                            .section__title.title.title--h2 Сколько стоит
                    ul.prices__table
                        li.prices__col.prices__col--values
                            .prices__number
                                span 5 000 000 ₽
                                span 5 млн ₽
                            .prices__number
                                span 2 500 000 ₽
                                span 2.5 млн ₽
                            .prices__number
                                span 1 000 000 ₽
                                span 1 млн ₽
                            .prices__number
                                span 500 000 ₽
                                span 500 тыс. ₽
                            .prices__number
                                span 300 000 ₽
                                span 300 тыс. ₽
                            .prices__number
                                span 50 000 ₽
                                span 50 тыс. ₽
                        li.prices__col
                            .prices__value(data-move="4" data-size="42")
                            .prices__name Шаблонный сайт 
                        li.prices__col
                            .prices__value(data-move="9" data-size="52")
                            .prices__name Сайт + продвижение для стартапа
                        li.prices__col
                            .prices__value(data-move="23" data-size="76")
                            .prices__name Промо-сайт
                        li.prices__col
                            .prices__value(data-move="44" data-size="70")
                            .prices__name Корпоративный сайт 
                        li.prices__col
                            .prices__value(data-move="51" data-size="106")
                            .prices__name Интернет-магазин
                        li.prices__col
                            .prices__value(data-move="58" data-size="138")
                            .prices__name Интернет-портал
                .prices__lead.col-xxl-5.col-xl-9.col-lg-10.col-12.ml-xxl-n1.ml-xl-3.ml-lg-2
                    .lead-block.lead-block--light
                        .lead-block__content
                            .lead-block__title.title.title--mini
                                | Назвать точную сумму мы не&nbsp;можем. Зато можем сориентировать по&nbsp;цене.
                            p.lead-block__text.text.text--body
                                | Сайт&nbsp;&mdash; это индивидуальный продукт. Одним клиентам нужно создать 
                                | новый корпоративный сайт, который будет соответствовать статусу компании 
                                | и&nbsp;поможет выглядеть современнее. Другим&nbsp;&mdash; легкий в&nbsp;управлении 
                                | интернет-магазин, интегрированный с&nbsp;CRM, Яндекс.Маркетом, платёжными 
                                | и&nbsp;логистическими системами. Поэтому для каждого проекта у&nbsp;нас 
                                | есть минимальная и&nbsp;максимальная цена.
                            .lead-block__button
                                a.button.button--block.button--gray(href="#0" data-feedback) Оставить заявку
