mixin SectionInfo()
    section.section.info(id="info")
        .container
            .info__head.row.no-gutters
                .col-lg-7.col-md-9.col-sm-8.info__title.section__title.title.title--h2 Почему выбирают нас?
                .col-xl-9.col-lg-10.info__content 
                    p.section__text.text.text--lead 
                        | Наша основная специализация&nbsp;&mdash; создание и&nbsp;продвижение сайтов. 
                        | Но&nbsp;мы&nbsp;на профессиональном уровне можем решать и&nbsp;другие задачи: 
                        | разработать IT&nbsp;-&nbsp;архитектуру сложной системы, запустить мобильное приложение, 
                        | настроить CI/CD и&nbsp;веб-серверы.
                    p.section__text.text.text--lead 
                        | Благодаря большому опыту мы&nbsp;хорошо понимаем задачи заказчика и&nbsp;всегда 
                        | чутко относимся к&nbsp;его проблемам. При выполнении работ мы&nbsp;сами преодолеваем 
                        | возникающие трудности и&nbsp;не&nbsp;дергаем клиента по&nbsp;мелочам. Если обратитесь 
                        | к&nbsp;нам&nbsp;&mdash; вы&nbsp;не&nbsp;пожалеете.
            .info__about.row.no-gutters
                .info__person.offset-xl-1
                    .info__person-arrow
                    .info__person-picture 
                        img.info__person-image(src="/src/images/author.jpg", alt="Сергей Анисимов")
                    .info__person-about 
                        .info__person-name.title.title--item Сергей Анисимов
                        .info__person-post.text.text--note Генеральный директор
                        img.info__person-sign(src="/src/images/signature.svg", alt="Личная подпись")
            .info__list.row
                .offset-xl-1.col-xxl-3.col-xl-4.col-lg-5.col-md-6.info__item
                    img.info__item-icon(src="/src/images/icon-jewel.svg", alt="Алмаз")
                    .info__item-name.title.title--mini Качество на&nbsp;уровне ТОПовых студий
                    p.info__item-text.text.text--body Мы&nbsp;выполняли проекты для компаний с&nbsp;мировым именем и&nbsp;федеральных университетов.
                .offset-xxl-1.col-xxl-3.col-xl-4.col-lg-5.col-md-6.info__item
                    img.info__item-icon(src="/src/images/icon-money.svg", alt="Деньги")
                    .info__item-name.title.title--mini Доступные и&nbsp;прозрачные бюджеты
                    p.info__item-text.text.text--body Стоимость работ остается демократичной уже&nbsp;много лет и&nbsp;устроит даже небольшие компании.
                .offset-xl-1.col-xxl-3.col-xl-4.col-lg-5.col-md-6.info__item
                    img.info__item-icon(src="/src/images/icon-bag.svg", alt="Сумка")
                    .info__item-name.title.title--mini Все услуги&nbsp;&mdash; в&nbsp;одном&nbsp;уместе
                    p.info__item-text.text.text--body Один подрядчик&nbsp;&mdash; это сокращение бюджетов, а&nbsp;результат будет усилен синергетическим эффектом.
                .offset-xxl-1.col-xxl-3.col-xl-4.col-lg-5.col-md-6.info__item
                    img.info__item-icon(src="/src/images/icon-heart.svg", alt="Сердце")
                    .info__item-name.title.title--mini Качество на&nbsp;уровне ТОПовых студий
                    p.info__item-text.text.text--body Мы&nbsp;выполняли проекты для компаний с&nbsp;мировым именем и&nbsp;федеральных университетов университетов.
