.form {
    &.--success {
        & .form__container {
            // opacity: 0;
            // transform: translate3d(0, 30px, 1px);
        }
        & .form__success {
            position: static;
            opacity: 1;
            transform: none;
            pointer-events: unset;
        }
    }
    &--subscribe {
        & .form__label {
            &.--focus,
            &.--active {
                & .form__placeholder {
                    transform: translate3d(-12%, calc(-50% - 28px), 0) scale(.7);
                }
                &.--error {
                    & .form__placeholder {
                        transform: translate3d(-12%, calc(-50% - 28px), 0) scale(.7);
                    }
                }
            }
            &.--error {
                border-color: $textErrorDark;
                & .form__placeholder {
                    opacity: 1;
                    color: $textErrorDark;
                    transform: translate3d(0, -50%, 0);
                }
            }
        }
        & .form__input {
            padding: 14px 20px 4px;
            color: $textViolet;
            border: 1px solid $borderViolet40;
        }
        & .form__placeholder {
            top: calc(50% + 5px);
            left: 10px;
            padding: 0 10px;
            color: $textNav;
            background-color: $bgGray;
        }
        & .form__button {
            max-width: unset;
            margin-top: 20px;
        }
        & .form__success {
            top: 50%;
            transform: translate3d(0, calc(-50% - 30px), 1px);
            &-title {
                font-size: 17px;
                font-weight: 800;
                line-height: 1.76;
                text-transform: uppercase;
                letter-spacing: 0.1em;
            }
        }
    }
    &__inner {
        position: relative;
    }
    &__title {
        margin-bottom: 23px;
    }
    &__content {
        margin-top: 30px;
        @media (min-width: 576px) {
            margin-top: 30px;
        }
        @media (min-width: 768px) {
            max-width: 610px;
            margin-top: 40px;
        }
        @media (min-width: 1200px) {
            max-width: 730px;
        }
        @media (min-width: 1920px) {
            max-width: 870px;
        }
    }
    &__container {
        transition: $transitionHeader;
    }
    &__element {
        position: relative;
        color: $textGray;
        background-color: $bgViolet;
        @media (min-width: 992px) and (max-width: 1199px) {
            padding-right: 30px !important;
        }
        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100vw;
            background-color: $bgViolet;
        }
        &:after {
            left: 0;
            transform: translateX(-100%);
        }
        &:before {
            right: 0;
            transform: translateX(100%);
            @media (min-width: 768px) {
                display: none;
            }
        }
        &:last-child {
            padding-bottom: 90px;
        }
    }
    &__block {
        padding-top: 30px;
        &.col-xl-4 {
            &:nth-child(odd) {
                @media (min-width: 1200px) {
                   padding-right: 15px !important;
                }
            }
        }
        &.col-xl-6 {
            &:nth-child(2n + 2) {
                @media (min-width: 1200px) {
                   margin-right: 1px;
                }
                &:after {
                    @media (min-width: 1200px) {
                        display: none;
                    }
                }
            }
        }
    }
    &__label {
        position: relative;
        & + & {
            margin-top: 33px;
            @media (min-width: 576px) {
                margin-top: 30px;
            }
            @media (min-width: 768px) {
                margin-top: 29px;
            }
        }
        &.--focus,
        &.--active {
            &.--error {
                & .form__placeholder {
                    transform: translate3d(calc(-15% + 10px), calc(-50% - 30px), 0) scale(0.7);
                }
                & .form__error {
                    transform: translate3d(calc(-15%), calc(-50% - 30px), 0) scale(0.7);
                }
            }
            & .form__placeholder {
                transform: translate3d(calc(-15%), calc(-50% - 30px), 0) scale(0.7);
            }
            & .form__error {
                transform: translate3d(calc(-15% - 10px), calc(-50% - 30px), 0) scale(0.7);
            }
        }
        &.--error {
            & .form__error {
                opacity: 1;
                transform: translate3d(0, -50%, 0);
            }
            & .form__placeholder {
                opacity: 0;
                transform: translate3d(10px, -50%, 0);
            }
            & .form__input {
                border-color: $textError;
            }
        }
    }
    &__input {
        width: 100%;
        padding: 29px 0 11px;
        color: $textWhite;
        border-bottom: 1px solid $bgGray60;
        transition: $transition;
    }
    &__error,
    &__placeholder {
        position: absolute;
        top: calc(50% + 10px);
        left: 0;
        transform: translate3d(0, -50%, 0);
        pointer-events: none;
        transition: $transition;
    }
    &__placeholder {
        color: $textGray60;
    }
    &__error {
        color: $textError;
        opacity: 0;
        transform: translate3d(-10px, -50%, 0);
    }
    &__button {
        width: 100%;
        margin-top: 45px;
        @media (min-width: 768px) {
            width: unset;
            max-width: 610px;
        }
    }
    &__success {
        position: absolute;
        opacity: 0;
        will-change: opacity, transform;
        transform: translate3d(0, -30px, 1px);
        transition: $transitionHeader .35s;
        pointer-events: none;
    }
}
