mixin SectionReviewsList(items)
    section.section.reviewsList
        .container 
            ul.reviewsList__list.row.no-gutters 
                each item in items
                    li.reviewsList__item.col-12
                        .reviewsList__picture
                            a.reviewsList__link(href="#0" data-print= item.src)
                                img.reviewsList__image(src= item.src, alt="Документ")
                            .reviewsList__icon
                                <svg class="reviewsList__svg" width="51" height="51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 23c0-8.284 6.716-15 15-15 8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15-8.284 0-15-6.716-15-15ZM23 0C10.297 0 0 10.297 0 23s10.297 23 23 23c4.907 0 9.455-1.536 13.189-4.155l8.983 8.983 5.657-5.656-8.983-8.983A22.894 22.894 0 0 0 46 23C46 10.297 35.703 0 23 0Z" fill="#fff"></path>
                                </svg>
                        .reviewsList__card
                            .reviewsList__info
                                p.reviewsList__text!= item.text
                            .reviewsList__footer 
                                .reviewsList__name.title.title--item!= item.name
                                .reviewsList__post.text.text--note!= item.post
                                .reviewsList__site.text.text--note= item.site
                            img.reviewsList__signature(src="https://mainbit.ru/upload/iblock/b13/0iez9kflcb8ya7o6lkupdzfeiy7oksbr.svg", alt="Подпись")

