mixin SectionReviewsList(items)
    section.section.reviewsList
        .container 
            ul.reviewsList__list.row.no-gutters 
                each item in items
                    li.reviewsList__item.col-12
                        .reviewsList__picture
                            a.reviewsList__link(href="#0" data-print= item.src)
                                img.reviewsList__image(src= item.src, alt="Документ")
                            .reviewsList__zoom
                                img.reviewsList__icon(src="/src/images/icon-zoom.svg", alt="Лупа")
                        .reviewsList__card
                            .reviewsList__info
                                p.reviewsList__text!= item.text
                            .reviewsList__footer 
                                .reviewsList__name.title.title--item!= item.name
                                .reviewsList__post.text.text--note!= item.post
                                .reviewsList__site.text.text--note= item.site
                            img.reviewsList__signature(src="https://mainbit.ru/upload/iblock/b13/0iez9kflcb8ya7o6lkupdzfeiy7oksbr.svg", alt="Подпись")

