mixin SectionBlogPage()
    article.blogPage
        .container 
            .row
                .col-xxl-6.col-xl-10.col-sm-12.offset-xxl-2.offset-xl-1
                    .blogPage__content.formated
                        h3 Сбор тематических запросов (семантического ядра) 
                        p На&nbsp;старте необходимо собрать максимально широкий список всех ключевых слов (запросов), имеющих отношение к&nbsp;тематике сайта. На&nbsp;этом этапе в&nbsp;список попадет много &laquo;мусора&raquo;, но&nbsp;это не&nbsp;страшно&nbsp;&mdash; в&nbsp;дальнейшем он&nbsp;отфильтруется. Хуже, если вы&nbsp;пропустите нужные запросы и&nbsp;недополучите целевой трафик. Именно поэтому первоначальное семантическое ядро нужно составлять с&nbsp;максимальным охватом.
                        h4 Анализ и&nbsp;чистка семантического ядра
                        p Собрав на&nbsp;первоначальном этапе десятки и&nbsp;сотни тысяч (а&nbsp;может и&nbsp;миллионы) запросов, вы&nbsp;неизбежно столкнетесь с&nbsp;проблемой анализа и&nbsp;фильтрации полученного списка. Часть этой работы делается в&nbsp;автоматическом, а&nbsp;часть&nbsp;&mdash; в&nbsp;полуавтоматическом и&nbsp;ручном режиме.
                        h4 Кластеризация запросов
                        p Полученный итоговый список необходимо разбить на&nbsp;группы (кластеризовать), чтобы в&nbsp;дальнейшем одну страницу сайта можно было оптимизировать под одну группу запросов.
                        h2 Когда этим всем заниматься?
                        p Структурную оптимизацию желательно проводить в&nbsp;самом начале проекта по&nbsp;продвижению. Если этого не&nbsp;сделать, в&nbsp;будущем можно столкнуться с&nbsp;рядом сложных проблем.
                        p Например, при оптимизации сайта возникнут задачи по&nbsp;переносу страниц (изменении их&nbsp;URL-адреса). В&nbsp;таком случае можно потерять часть &laquo;технических&raquo; преимуществ (вес и&nbsp;возраст страниц), столкнуться с&nbsp;техническим проблемами (битые ссылки, неработающие или ненастроенные редиректы) или проблемой медленной переиндексации сайта:
                        figure
                            p
                                img(src="/src/images/blog-picture.jpg" alt="Картинка")
                            figcaption Andy Thelander, Creative Director of&nbsp;Active Theory where he&nbsp;talks about winning Developer Site of&nbsp;the Year for Paper Planes
                        p Другой случай: из-за непроведённой структурной оптимизации можно проглядеть часть целевых запросов, столкнуться с&nbsp;невозможностью создания нужного раздела или неоптимально опубликовать нужные материалы (из-за чего они, например, недополучат внутренний вес и&nbsp;будут хуже ранжироваться).
                        ol 
                            li Сбор требований, формирование технического задания. Итог выполнения этапа работ: бриф или техническое задание на&nbsp;создание сайта.
                            li Проектирование сайта. Итог: структура сайта в&nbsp;понятном виде.
                                ul 
                                    li Рекомендуется сделать и&nbsp;отображать на&nbsp;странице дублирующую статическую пагинацию, по&nbsp;которой поисковые роботы точно смогут проиндексировать все страницы категории (без использования JavaScript). Пагинация должна быть выполнена с&nbsp;помощью rel=&quot;prev&quot; или rel=&quot;next&quot;.
                                    li Рекомендуется сделать и&nbsp;отображать на&nbsp;странице дублирующую статическую пагинацию, по&nbsp;которой поисковые роботы точно смогут проиндексировать все страницы категории (без использования JavaScript). Пагинация должна быть выполнена с&nbsp;помощью rel=&quot;prev&quot; или rel=&quot;next&quot;.
                        p Другой случай: из-за непроведённой структурной оптимизации можно проглядеть часть целевых запросов, столкнуться с&nbsp;невозможностью создания нужного раздела или неоптимально опубликовать нужные материалы (из-за чего они, например, недополучат внутренний вес и&nbsp;будут хуже ранжироваться).
                        h3 Cтандартный процесс создания сайта
                        p Если сайт создается с&nbsp;прицелом на&nbsp;дальнейшее поисковое продвижение, то&nbsp;следует добавить в&nbsp;пункт &laquo;Проектирование сайта&raquo; подпункт про структурную оптимизацию, в&nbsp;пункт про программирование&nbsp;&mdash; техническую оптимизацию, а&nbsp;в&nbsp;пункт про подготовку контента&nbsp;&mdash; текстовую оптимизацию, о&nbsp;которой мы&nbsp;поговорим чуть позже.
                        blockquote В&nbsp;идеале СЕО-специалист должен также участвовать в&nbsp;сборе требований к&nbsp;сайту и&nbsp;разработке дизайна (в&nbsp;который нужно заложить потенциал для дальнейшего поискового продвижения).
                        p Если сайт создается с&nbsp;прицелом на&nbsp;дальнейшее поисковое продвижение, то&nbsp;следует добавить в&nbsp;пункт &laquo;Проектирование сайта&raquo; подпункт про структурную оптимизацию, в&nbsp;пункт про программирование&nbsp;&mdash; техническую оптимизацию, а&nbsp;в&nbsp;пункт про подготовку контента&nbsp;&mdash; текстовую оптимизацию, о&nbsp;которой мы&nbsp;поговорим чуть позже.
                    .blogPage__footer
                        h4.blogPage__footer-title Тэги
                        a.tag(href="#0") Техническая оптимизация
                        a.tag(href="#0") Поисковое продвижение
                        a.tag(href="#0") Методы продвижения
                    .blogPage__socials
                        .socials 
                            a.socials__item.--tw(href="#0") 
                            a.socials__item.--vk(href="#0") 
