mixin SectionHelpfull()
    section.section.helpfull 
        .container 
            .helpfull__row.row 
                .helpfull__info.col-xxl-9.col-xl-10.col-xs-12.pr-xl-3
                    .helpfull__info-box
                        .helpfull__head
                            .section__header
                                .section__title.title.title--h2 Кому мы полезны 
                                p.section__text.text.text--lead Всем, кому важно полностью закрыть SEO&nbsp;-&nbsp;направление. Мы&nbsp;берем на&nbsp;себя всю SEO&nbsp;-&nbsp;рутину: готовим план продвижения с&nbsp;объемом задач, сроками и&nbsp;условиями достижения результата, проводим комплекс работ, измеряем эффективность и&nbsp;отвечаем на&nbsp;любые вопросы. Получается почти как штатный сеошник.
                        p.helpfull__footer.title.title--item 
                            | Хотите увидеть результаты наших клиентов? 
                            | Примеры SEO-кейсов покажем по&nbsp;запросу. 
                            | Пишите на&nbsp;<a href="mailto:hello@mainbit.ru">hello@mainbit.ru</a>
                .helpfull__lead.col-xl-5.col-xs-12.ml-xxl-n2.ml-xl-n3
                    .lead-block
                        .lead-block__content
                            .lead-block__title.title.title--mini Что в&nbsp;результате
                            p.lead-block__text.text.text--body SEO не&nbsp;решает все задачи интернет-маркетинга, но&nbsp;помогает бизнесу расти быстрее: приводит больше людей, увеличивает количество заявок, показывает, что улучшить в&nbsp;системе продаж. Первые результаты&nbsp;&mdash; через 2-3&nbsp;месяца, а&nbsp;потом стабильная положительная динамика, которую легко видеть по&nbsp;отчетам. 
                            p.lead-block__text.text.text--body Вам уже делают SEO, а&nbsp;результата нет?
                            .lead-block__button
                                a.button.button--block(href="#0" data-feedback) Узнать проблему 