mixin SectionReviews()
    section.section.reviews 
        .container
            .row.no-gutters 
                .col-xxl-8.col-lg-10
                    .section__header
                        .section__title.title.title--h2 Дорожим каждым клиентом
                        p.section__text.text.text--body 
                            | Доброе слово и кошке приятно, а получать слова благодарности 
                            | за хорошо проделанную работу приятно вдвойне. За годы работы 
                            | мы получили немало положительных отзывов, и приложим все силы 
                            | для того, чтобы и дальше в полной мере оправдывать ожидания заказчиков.
                        a.section__link.link.link--dark.link--uppercase.link--right(href="/reviews") 
                            span.link__text Смотреть все отзывы
                            <svg class="link__icon" width="12" height="13" xmlns="http://www.w3.org/2000/svg"><path d="m1.227 6.15 3.915 3.675V.63h1.5v9.195l3.915-3.675h.975v1.065l-5.64 5.445-5.64-5.445V6.15h.975Z"></path></svg>
            .reviews__slider 
                .swiper 
                    .swiper-wrapper 
                        .swiper-slide.reviews__slide
                            .reviews__card
                                p.reviews__text.text.text--lead
                                    | Благодарим за&nbsp;создание и&nbsp;продвижение нашего нового сайта, 
                                    | а&nbsp;также разработку элементов фирменного стиля и&nbsp;другие 
                                    | проведенные работы. С&nbsp;MainBit мы&nbsp;работаем уже не&nbsp;первый 
                                    | год и&nbsp;надеемся на&nbsp;продолжение плодотворного.
                                a.reviews__link.link.link--dark.link--dashed.text(href="#0" data-print="https://mainbit.ru/upload/iblock/4ed/bgp7yf1iw02hqnynva6zyx20s2tmq24p.jpg")
                                    span.link__text Посмотреть отзыв
                                <img src="https://mainbit.ru/upload/iblock/b13/0iez9kflcb8ya7o6lkupdzfeiy7oksbr.svg" alt="Подпись" class="reviews__signature">
                                .reviews__arrow.reviews__prev
                                    .arrow 
                                        <svg class="arrow__icon" viewBox="0 0 51 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M35.9865 28H0V20H36.303L23.9628 5.60306L30.0369 0.396729L50.3294 24.0714L28.966 47.6835L23.0337 42.3162L35.9865 28Z" fill="white"/>
                                        </svg>
                                .reviews__arrow.reviews__next
                                    .arrow 
                                        <svg class="arrow__icon" viewBox="0 0 51 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M35.9865 28H0V20H36.303L23.9628 5.60306L30.0369 0.396729L50.3294 24.0714L28.966 47.6835L23.0337 42.3162L35.9865 28Z" fill="white"/>
                                        </svg>
                            .reviews__author 
                                .reviews__author-name.title.title--note Ольга Широкова
                                .reviews__author-post.text.text--note Директор по&nbsp;маркетингу LaMaree
                        .swiper-slide.reviews__slide
                            .reviews__card
                                p.reviews__text.text.text--lead
                                    | В процессе работы ребята глубоко погрузились в детали проекта 
                                    | и с интересом отнеслись к особенностям нашей работы. Они нашли 
                                    | выгодные решения для сайта с учетом имеющихся условий, а также 
                                    | пошли навстречу в финансовых вопросах.
                                a.reviews__link.link.link--dark.link--dashed.text(href="#0" data-print="https://mainbit.ru/upload/iblock/69e/3rmchqrynpwxz0sdwxn00tw7a914hi8e.jpg")
                                    span.link__text Посмотреть отзыв
                                <img src="https://mainbit.ru/upload/iblock/b13/0iez9kflcb8ya7o6lkupdzfeiy7oksbr.svg" alt="Подпись" class="reviews__signature">
                                .reviews__arrow.reviews__prev
                                    .arrow 
                                        <svg class="arrow__icon" viewBox="0 0 51 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M35.9865 28H0V20H36.303L23.9628 5.60306L30.0369 0.396729L50.3294 24.0714L28.966 47.6835L23.0337 42.3162L35.9865 28Z" fill="white"/>
                                        </svg>
                                .reviews__arrow.reviews__next
                                    .arrow 
                                        <svg class="arrow__icon" viewBox="0 0 51 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M35.9865 28H0V20H36.303L23.9628 5.60306L30.0369 0.396729L50.3294 24.0714L28.966 47.6835L23.0337 42.3162L35.9865 28Z" fill="white"/>
                                        </svg>
                            .reviews__author 
                                .reviews__author-name.title.title--note Максим Коротков
                                .reviews__author-post.text.text--note Испольнительный лиректор Rolston
                        .swiper-slide.reviews__slide
                            .reviews__card
                                p.reviews__text.text.text--lead
                                    | Благодарим за&nbsp;создание и&nbsp;продвижение нашего нового сайта, 
                                    | а&nbsp;также разработку элементов фирменного стиля и&nbsp;другие 
                                    | проведенные работы. С&nbsp;MainBit мы&nbsp;работаем уже не&nbsp;первый 
                                    | год и&nbsp;надеемся на&nbsp;продолжение плодотворного сотрудничества.
                                a.reviews__link.link.link--dark.link--dashed.text(href="#0" data-print="https://mainbit.ru/upload/iblock/756/o2we0xq1ynvc94binin7wfkjmpjhdy93.jpg")
                                    span.link__text Посмотреть отзыв
                                <img src="https://mainbit.ru/upload/iblock/b13/0iez9kflcb8ya7o6lkupdzfeiy7oksbr.svg" alt="Подпись" class="reviews__signature">
                                .reviews__arrow.reviews__prev
                                    .arrow 
                                        <svg class="arrow__icon" viewBox="0 0 51 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M35.9865 28H0V20H36.303L23.9628 5.60306L30.0369 0.396729L50.3294 24.0714L28.966 47.6835L23.0337 42.3162L35.9865 28Z" fill="white"/>
                                        </svg>
                                .reviews__arrow.reviews__next
                                    .arrow 
                                        <svg class="arrow__icon" viewBox="0 0 51 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M35.9865 28H0V20H36.303L23.9628 5.60306L30.0369 0.396729L50.3294 24.0714L28.966 47.6835L23.0337 42.3162L35.9865 28Z" fill="white"/>
                                        </svg>
                            .reviews__author 
                                .reviews__author-name.title.title--note Ольга Широкова
                                .reviews__author-post.text.text--note Директор по&nbsp;маркетингу LaMaree
                        .swiper-slide.reviews__slide
                            .reviews__card
                                p.reviews__text.text.text--lead
                                    | Благодарим за&nbsp;создание и&nbsp;продвижение нашего нового сайта, 
                                    | а&nbsp;также разработку элементов фирменного стиля и&nbsp;другие 
                                    | проведенные работы. С&nbsp;MainBit мы&nbsp;работаем уже не&nbsp;первый 
                                    | год и&nbsp;надеемся на&nbsp;продолжение плодотворного сотрудничества.
                                a.reviews__link.link.link--dark.link--dashed.text(href="#0" data-print="https://mainbit.ru/upload/iblock/fbc/c18z4m1hgymimbjyevoo1fpgrprnucjn.jpg")
                                    span.link__text Посмотреть отзыв
                                <img src="https://mainbit.ru/upload/iblock/b13/0iez9kflcb8ya7o6lkupdzfeiy7oksbr.svg" alt="Подпись" class="reviews__signature">
                                .reviews__arrow.reviews__prev
                                    .arrow 
                                        <svg class="arrow__icon" viewBox="0 0 51 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M35.9865 28H0V20H36.303L23.9628 5.60306L30.0369 0.396729L50.3294 24.0714L28.966 47.6835L23.0337 42.3162L35.9865 28Z" fill="white"/>
                                        </svg>
                                .reviews__arrow.reviews__next
                                    .arrow 
                                        <svg class="arrow__icon" viewBox="0 0 51 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M35.9865 28H0V20H36.303L23.9628 5.60306L30.0369 0.396729L50.3294 24.0714L28.966 47.6835L23.0337 42.3162L35.9865 28Z" fill="white"/>
                                        </svg>
                            .reviews__author 
                                .reviews__author-name.title.title--note Ольга Широкова
                                .reviews__author-post.text.text--note Директор по&nbsp;маркетингу LaMaree
                    .swiper-pagination
            .reviews__brands
                .reviews__subtitle.title.title--h3 Нам доверяют компании из&nbsp;разных сфер бизнеса
                .reviews__list
                    .swiper
                        .swiper-wrapper
                            .swiper-slide.reviews__brand
                                img.reviews__brand-icon(width="129" src="https://mainbit.ru//upload/iblock/a4e/2e8m9xo88je8z3w7xzz9sevw5ucoucp9.svg", alt="Лого")
                            .swiper-slide.reviews__brand
                                img.reviews__brand-icon(width="105" src="https://mainbit.ru/upload/iblock/7e0/jbf4696gmyah2lncbgm1w5o14fs7c9qt.svg", alt="Лого")
                            .swiper-slide.reviews__brand
                                img.reviews__brand-icon(width="105" src="https://mainbit.ru/upload/iblock/913/93jd0j2pi31eabf4l1hf51b5ade43du2.svg", alt="Лого")
                            .swiper-slide.reviews__brand
                                img.reviews__brand-icon(width="104" src="https://mainbit.ru/upload/iblock/1d6/5elxrls820phyai8ksgprtnuqf8yaqx7.svg", alt="Лого")
                            .swiper-slide.reviews__brand
                                img.reviews__brand-icon(width="228" src="https://mainbit.ru/upload/iblock/36a/mkcix3bdfyff6sypqcok2pv4pqzbethz.svg", alt="Лого")
                            .swiper-slide.reviews__brand
                                img.reviews__brand-icon(width="156" src="https://mainbit.ru/upload/iblock/ba1/hlpaodlgmdzfjfvv4gd6evo3qlk5ogcp.svg", alt="Лого")
                            .swiper-slide.reviews__brand
                                img.reviews__brand-icon(width="156" src="https://mainbit.ru/upload/iblock/b74/nklbm4qrezdda0riqwvrrfijf3q4swx0.svg", alt="Лого")
                            .swiper-slide.reviews__brand
                                img.reviews__brand-icon(width="190" src="https://mainbit.ru/upload/iblock/32e/8iqq9igl89q0stjbajhq2ym8zzohoo7f.svg", alt="Лого")
                            .swiper-slide.reviews__brand
                                img.reviews__brand-icon(width="228" src="https://mainbit.ru/upload/iblock/36a/mkcix3bdfyff6sypqcok2pv4pqzbethz.svg", alt="Лого")
                            .swiper-slide.reviews__brand
                                img.reviews__brand-icon(width="156" src="https://mainbit.ru/upload/iblock/ba1/hlpaodlgmdzfjfvv4gd6evo3qlk5ogcp.svg", alt="Лого")
                            .swiper-slide.reviews__brand
                                img.reviews__brand-icon(width="156" src="https://mainbit.ru/upload/iblock/b74/nklbm4qrezdda0riqwvrrfijf3q4swx0.svg", alt="Лого")
                            .swiper-slide.reviews__brand
                                img.reviews__brand-icon(width="190" src="https://mainbit.ru/upload/iblock/32e/8iqq9igl89q0stjbajhq2ym8zzohoo7f.svg", alt="Лого")
                        .swiper-pagination
