<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клиенты о нас</title>
    <link rel="stylesheet" href="/src/css/style.scss">

    include ../sections/sections
    include ../components/mixins
</head>
<body>

    .wrapper
        include ../components/header/header

        main.page
        
            +SectionHero(
                'Клиенты о&nbsp;нас',
                'При выполнении проекта мы&nbsp;нередко становимся частью команды заказчика: глубоко погружаемся в&nbsp;задачу, искренне переживаем за&nbsp;результат и&nbsp;общаемся с&nbsp;коллегами на&nbsp;одном языке. В&nbsp;сочетании с&nbsp;высокой результативностью такой подход неизменно вызывает благодарную реакцию со&nbsp;стороны клиентов. Некоторые отзывы мы&nbsp;получили в&nbsp;письменном виде и&nbsp;предлагаем их&nbsp;вашему вниманию.',
                {
                    breadcrumbs: [
                        {
                            name: 'Отзывы',
                            href: '/reviews'
                        }
                        
                    ]
                }
            )

            +SectionReviewsList([
                {
                    src: 'https://mainbit.ru/upload/iblock/4ed/bgp7yf1iw02hqnynva6zyx20s2tmq24p.jpg',
                    text: 'Мы&nbsp;рады успешному сотрудничеству с&nbsp;командой MainBit, результат работы которой нас полностью устраивает. Планируем продолжать взаимодействие и&nbsp;по&nbsp;мере необходимости реализовывать новые совместные проекты.',
                    name: 'Ольга Широкова',
                    post: 'Директор по&nbsp;маркетингу LaMaree',
                    site: 'Интернет-магазин LaMaree'
                },{
                    src: 'https://mainbit.ru/upload/iblock/4ed/bgp7yf1iw02hqnynva6zyx20s2tmq24p.jpg',
                    text: 'Мы&nbsp;рады успешному сотрудничеству с&nbsp;командой MainBit, результат работы которой нас полностью устраивает. Планируем продолжать взаимодействие и&nbsp;по&nbsp;мере необходимости реализовывать новые совместные проекты.',
                    name: 'Ольга Широкова',
                    post: 'Директор по&nbsp;маркетингу LaMaree',
                    site: 'Интернет-магазин LaMaree'
                },{
                    src: 'https://mainbit.ru/upload/iblock/4ed/bgp7yf1iw02hqnynva6zyx20s2tmq24p.jpg',
                    text: 'Мы&nbsp;рады успешному сотрудничеству с&nbsp;командой MainBit, результат работы которой нас полностью устраивает. Планируем продолжать взаимодействие и&nbsp;по&nbsp;мере необходимости реализовывать новые совместные проекты.',
                    name: 'Ольга Широкова',
                    post: 'Директор по&nbsp;маркетингу LaMaree',
                    site: 'Интернет-магазин LaMaree'
                }
            ])

            +print 

        include ../components/footer/footer
    
    <script type="module" src="/src/js/index.js"></script>

</body>
</html>
