<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cайты под ваши задачи</title>
    <link rel="stylesheet" href="/src/css/style.scss">

    include ../sections/sections
    include ../components/mixins
</head>
<body>

    .wrapper
        include ../components/header/header

        main.page.--sozdanie
        
            +SectionHero(
                'Cайты под ваши задачи',
                'Лучше всего у&nbsp;нас получаются сайты для решения конкретных задач бизнеса и&nbsp;маркетинга: привлечения клиентов, увеличения продаж, создания положительного имиджа бренда. Ключевой показатель эффективности для нас&nbsp;&mdash; это окупаемость ваших вложений.',
                {
                    breadcrumbs: [
                        {
                            name: 'Сайты под ваши задачи',
                            href: '#0'
                        }
                    ],
                    subtitle: 'Создаём и улучшаем',
                    triggers: {
                        button: 'Оставить заявку'
                    }
                }
            )

            +SectionBenefits({
                offset: true,
                title: 'Работаем на&nbsp;достижение ваших целей',
                description: 'Наша миссия&nbsp;&mdash; создать отличный продукт, который окупит ваши вложения и&nbsp;поможет развить бизнес. Успех зависит от&nbsp;четкой формулировки цели. Выберите, чего вы&nbsp;хотите достичь&nbsp;&mdash; мы&nbsp;предложим максимально эффективное решение.',
                items: [
                    [
                        {
                            link: 'Подробнее о&nbsp;e-commerce',
                            title: 'Рост продаж',
                            text: 'Наши интернет-магазины показывают высокую конверсию и&nbsp;быстрое продвижение. Имеют удобный интерфейс, качественную витрину, сервисы оплаты и&nbsp;доставки'
                        },{
                            link: 'Обсудить промосайт',
                            title: 'Привлечение клиентов',
                            text: 'Делаем яркие промосайты, сайты-визитки и&nbsp;лендинги под продукт или услугу. Встраиваем их&nbsp;в&nbsp;существующие сайты или реализуем как отдельные страницы. Сразу готовим к&nbsp;продвижению.'
                        }
                    ],[
                        {
                            link: 'Рассчитать сайт компании',
                            title: 'Построение имиджа',
                            text: 'Разрабатываем большие красивые корпоративные сайты, которые помогают построить положительный образ компании, подружиться с&nbsp;аудиторией в&nbsp;интернете, продают товары и&nbsp;услуги.'
                        },{
                            link: 'Заказать экспресс-сайт',
                            title: 'Проверка бизнес&nbsp;-&nbsp;идеи',
                            text: 'Создаем экспресс-сайты для проверки бизнес-гипотез и&nbsp;запуска стартапов. Такие сайты мы&nbsp;делаем за&nbsp;1-2&nbsp;месяца, пускаем на&nbsp;них рекламу и&nbsp;сразу считаем эффективность.'
                        }
                    ]
                ]
            })

            +SectionProcess({
                title: 'Удобно строим процесс',
                description: 'С&nbsp;нами вы&nbsp;пройдете простой путь. Мы&nbsp;делим весь процесс разработки сайта на&nbsp;этапы с&nbsp;фиксированным результатом, которым можно сразу пользоваться. Это позволяет запускать проекты точно вовремя, с&nbsp;требуемым качеством и&nbsp;без головной боли.',
                items: [
                    {
                        title: 'Коммерческое предложение',
                        text: 'В&nbsp;разговоре выясним в&nbsp;чем проблемы вашего бизнеса и&nbsp;как их&nbsp;решить с&nbsp;учетом ваших сроков и&nbsp;бюджета. Вышлем подробное коммерческое предложение.'
                    },{
                        title: 'Концепция проекта',
                        text: 'Проанализируем цели, задачи, аудиторию и&nbsp;конкурентов. На&nbsp;основе данных разработаем идею и&nbsp;стратегию работы сайта, создадим структуру и&nbsp;контентный план.'
                    },{
                        title: 'Прототип сайта',
                        text: 'Визуализируем структуру сайта. Создадим чистый и&nbsp;графичный прототип, который покажет, как будет выглядеть и&nbsp;функционировать будущий сайт.'
                    },{
                        title: 'Стратегическое дизайн-решение',
                        text: 'Найдем для вас визуальный образ, который поможет выразить преимущества бренда и&nbsp;понравится пользователям. Покажем на&nbsp;примере главной страницы.'
                    },{
                        title: 'Верстка дизайн-макетов',
                        text: 'Заверстаем разработанные дизайн-макеты сайта с&nbsp;учётом браузеров, разрешений и&nbsp;устройств. Реализуем интерактивные элементы. Протестируем все макеты.'
                    },{
                        title: 'Подключим нужные сервисы',
                        text: 'Проведем интеграцию сайта с&nbsp;CRM, 1С, системами оплаты, сервисами рассылок и&nbsp;доставки. Настроим аналитику. Еще раз все проверим и&nbsp;исправим ошибки.'
                    },{
                        title: 'Создадим контент под задачи',
                        text: 'Разработаем SEO-тексты для людей и&nbsp;продвижения. Графику, фото и&nbsp;видео для продаж и&nbsp;имиджа.'
                    },{
                        title: 'Запустим и поддержим',
                        text: 'Протестируем сайт еще раз. Объясним, как им&nbsp;пользоваться и&nbsp;откроем для посетителей.'
                    }
                ]
            })

            +SectionAdditional({
                title: 'Все для вашего успеха',
                description: '',
                items: [
                    {
                        icon: '/src/images/icon-site.svg',
                        text: 'Наши сайты сразу готовы к&nbsp;продвижению: проводим SEO&nbsp;-&nbsp;оптимизацию, настраиваем цели Google Analytics и&nbsp;Яндекс.Метрику. Вам будет легко управлять продвижением.'
                    },{
                        icon: '/src/images/icon-trend.svg',
                        text: 'Создаем дизайн на&nbsp;основе трендов, благодаря чему он&nbsp;останется актуальным ближайшие пять лет.'
                    },{
                        icon: '/src/images/icon-like.svg',
                        text: 'Даем 1&nbsp;год гарантийной технической поддержки&nbsp;&mdash; вы&nbsp;всегда можете задать вопрос менеджеру, чтобы разобраться с&nbsp;тонкостями настроек.'
                    },{
                        icon: '/src/images/icon-mobile.svg',
                        text: 'Адаптивность считаем обязательной. В&nbsp;сценариях учитываем разные устройства, которыми пользуется ваша аудитория.'
                    }
                ]
            })

            +SectionPrices

            +SectionGuarantee({
                title: 'Гарантии',
                items: [
                    {
                        name: '100% качество',
                        text: 'Над вашим проектом будут работать профессионалы, нанять которых в&nbsp;штат обычной компании очень дорого. И&nbsp;качество их&nbsp;работы фиксируется в&nbsp;договоре.'
                    },{
                        name: 'Соблюдение сроков',
                        text: 'Мы&nbsp;прописываем сроки в&nbsp;договоре и&nbsp;укладываемся в&nbsp;них в&nbsp;99% случаев. Иногда сдаем проекты раньше. А&nbsp;в&nbsp;целом&nbsp;&mdash; никаких сюрпризов.'
                    },{
                        name: 'Фиксированный бюджет',
                        text: 'Мы&nbsp;фиксируем сумму разработки сайта в&nbsp;договоре. Даже&nbsp;если переработаем по&nbsp;часам или приведем трафик сверх плана, вы&nbsp;ничего не&nbsp;доплачиваете.'
                    }
                ],
                lead: {
                    title: 'Обсудите с&nbsp;нашим экспертом вашу задачу,',
                    text: 'и&nbsp;он&nbsp;подберет оптимальное решение с&nbsp;учетом всех специфик, сроков и&nbsp;бюджета.',
                    button: 'Обсудить'
                }
            })

            +SectionReviews

            +SectionAdditional({
                title: 'Вместе с сайтом вам&nbsp;пригодится',
                description: 'Сам по&nbsp;себе сайт не&nbsp;принесет вам денег. На&nbsp;него еще нужно привести целевой трафик, его необходимо рекламировать и&nbsp;продвигать. Он&nbsp;также требует определенной поддержки и&nbsp;обслуживания. Все эти задачи мы&nbsp;можем взять на&nbsp;себя.',
                items: [
                    {
                        icon: '/src/images/icon-jewel.svg',
                        title: 'Контекстная реклама',
                        text: 'Тщательно подбираем запросы, сочетаем ручную настройку и&nbsp;автоматизацию, тестируем. Мы&nbsp;найдем вам клиентов, заказы и&nbsp;заявки в&nbsp;поиске.'
                    },{
                        icon: '/src/images/icon-trend.svg',
                        title: 'Медийная реклама',
                        text: 'Создаем рекламу, которую хочется кликать. Размещаем на&nbsp;площадках, где находится ваша аудитория.'
                    },{
                        icon: '/src/images/icon-like.svg',
                        title: 'Реклама в&nbsp;соцсетях',
                        text: 'Разработаем SMM-стратегию, контент, настроим аналитику, будем мониторить упоминания и&nbsp;работать с&nbsp;отзывами. Превратим ваших подписчиков в&nbsp;почитателей.'
                    },{
                        icon: '/src/images/icon-mobile.svg',
                        title: 'Поддержка и&nbsp;развитие',
                        text: 'Изучаем подход вашей команды или подрядчика, находим и&nbsp;разбираем ошибки, помогаем делать правильно.'
                    }
                ]
            })

            +SectionForm

            +print

        include ../components/footer/footer
    
    <script type="module" src="/src/js/index.js"></script>

</body>
</html>
