mixin SectionBlog()
    section.section.blog
        .container 
            .row.no-gutters 
                .blog__head.col-xxl-6.col-lg-8.col-md-10.col-sm-11.col-12
                    .section__header
                        .section__title.title.title--h2 Новое в блоге
                        p.section__text.text.text--body 
                            | Делимся профессиональными секретами и&nbsp;раскрываем 
                            | тонкости выполнения отдельных видов работ. Материалы 
                            | написаны на&nbsp;основе нашего опыта и&nbsp;имеют практическую 
                            | ценность. Чтобы не&nbsp;пропустить очередную статью, 
                            | подписывайтесь на&nbsp;обновления.
                        a.section__link.link.link--uppercase(href="/blog") 
                            span.link__text Перейти в блог
                            span.link__icon →
            .blog__list.row.no-gutters
                a.blog__item(href="#0")
                    article
                        .blog__title.title.title--mini Критерии качества постоянных ссылок: траст сайта-донора
                        .blog__bg
                            .blog__image(style="background: url(https://mainbit.ru//src/images/blog/blog-01.png) 50% 50%/cover no-repeat")
                        .blog__footer
                            .blog__icon
                                <svg width="51" height="48" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M35.986 28H0v-8h36.303L23.963 5.603 30.037.397 50.329 24.07 28.966 47.684l-5.932-5.368L35.987 28Z"></path>
                                </svg>
                a.blog__item(href="#0")
                    article
                        .blog__title.title.title--mini Постоянные ссылки
                        .blog__bg
                            .blog__image(style="background: url(https://mainbit.ru//src/images/blog/blog-02.png) 50% 50%/cover no-repeat")
                        .blog__footer
                            .blog__icon
                                <svg width="51" height="48" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M35.986 28H0v-8h36.303L23.963 5.603 30.037.397 50.329 24.07 28.966 47.684l-5.932-5.368L35.987 28Z"></path>
                                </svg>
                a.blog__item(href="#0")
                    article
                        .blog__title.title.title--mini Арендные ссылки
                        .blog__bg
                            .blog__image(style="background: url(https://mainbit.ru//src/images/blog/blog-03.png) 50% 50%/cover no-repeat")
                        .blog__footer
                            .blog__icon
                                <svg width="51" height="48" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M35.986 28H0v-8h36.303L23.963 5.603 30.037.397 50.329 24.07 28.966 47.684l-5.932-5.368L35.987 28Z"></path>
                                </svg>

