// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1920px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 534px,
  md: 690px,
  lg: 960px,
  xl: 1140px,
  xxl: 1800px
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12;
$grid-gutter-width:           30px;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (1 / $grid-columns * 100%),
    2: (2 / $grid-columns * 100%),
    3: (3 / $grid-columns * 100%),
    4: (4 / $grid-columns * 100%),
    5: (5 / $grid-columns * 100%),
    6: (6 / $grid-columns * 100%),
    7: (7 / $grid-columns * 100%),
    8: (8 / $grid-columns * 100%),
    9: (9 / $grid-columns * 100%),
    10: (10 / $grid-columns * 100%)
  ),
  $spacers
);

// Container adaptive
@media (min-width: 360px) {
  .container {
    padding: 0 20px !important;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: unset;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px !important;
  }
}
@media (min-width: 992px) {
  .container {
    //max-width: 960px;
    padding: 0 30px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    //max-width: 1140px;
    padding: 0 45px !important;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding: 0 75px !important;
  }
}
