// Backgrounds
$bgWhite: #FFF;
$bgGray: #F6F5F7;
$bgGray60: #f6f5f799;
$bgViolet: #2D1940;
$bgVioletLight: #b368ff;
$bgVioletLighter: #D2A6FF;
$bgTw: #55ADEE;
$bgVk: #4D75A3;

// Text
$textError: #f66;
$textErrorDark: #FF4A26;
$textWhite: #FFF;
$textBlue: #73B9FF;
$textGray: #F6F5F7;
$textGray60: #f6f5f799;
$textViolet: #2D1940;
$textLinkViolet: #D2A6FF;
$textLinkVioletDark: #b368ff;
$textLinkHover: #F66;
$textNav: #2D194099;

// Borders
$borderGray: #F6F5F733;
$borderGray10: #f6f5f71a;
$borderGrayLight: #e2dfe5;
$borderViolet: #2d1940;
$borderViolet10: #2d19401a;
$borderViolet15: #2d194026;
$borderViolet40: #2d194066;

// Transitions
$transition: .25s;
$transitionLong: .7s;
$transitionHeader: .55s ease-out;

// Shadows
$shadow: 0 40px 100px rgba(0,0,0,.8), 0 20px 60px rgba(0,0,0,.4);
$shadowCard: 0 30px 70px rgb(45, 25, 64, .1);
$shadowLight: 0 30px 100px rgba(45,25,64,.45), 0 10px 60px rgba(0,0,0,.2);
