footer.footer 
    .container
        .footer__top.row.no-gutters
            .footer__block.col-md-6.col-12
                a.footer__logo.footer__title.title.title--mini(href="/") MainBit
                p.footer__info.text.text--caption
                    | Сайты, приложения, фирменные стили.
                    | Медиа-кампании в&nbsp;интернете
            .footer__block.col-md-6.col-12
                a.footer__title.title.title--mini(href="tel:+74959782708") +7 495 978-27-08
                a.footer__mail.text.text--caption(href="mailto:info@mainbit.ru") info@mainbit.ru
                p.footer__address.text.text--caption
                    | Москва, Старопетровский проезд, д. 7а, стр.&nbsp;6, оф.&nbsp;600
        .footer__bottom
            p.footer__copyright &copy;&nbsp;2010-2024 Студия MainBit
